<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../website/website-list.view.client.html" class="navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand" href="#">Pages</a>
                <a href="page-new.view.client.html" class="navbar-text pull-right">
                        <span class ="glyphicon glyphicon-plus">
                        </span>
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Blog Post
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Blogs
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Home
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                About
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">
                Contact Us
            </a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <a href="../views/user/profile.html" class="navbar-text pull-right">
                <span class ="glyphicon glyphicon-user"> </span>
            </a>

        </div>
    </div>
</nav>
