<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#/user/{{model.id}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    Widget edit
                </a>
                <a ng-click="model.updateWidget(model.widget)" class="navbar-text pull-right">
                    <span class ="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
</nav>

    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="widget-name"
                   placeholder="Name">
        </div>

        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="text"
                   value= "US Senate Reaches Compromise">
        </div>

        <div class="form-group">
            <label for="size">Size</label>
            <input  ng-model="model.widget.size"
                    type="text"
                    class="form-control"
                    id="size"
                    value= "3">
        </div>
    </form>

    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block">
        Delete
    </a>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text pull-right"> </p>
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right">
                <span class ="glyphicon glyphicon-user"> </span>
            </a>
            </p>
        </div>
    </div>
</nav>
