<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Widgets</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row widget-Pos">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="h2">
                    GIZMODO
                </p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style topMargin">
                        <a href="widget-heading.html" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row topMargin widget-Pos">
            <div class="topNMargin col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="h5" style="font-weight: bold">US Senate Reaches Compromise on Emergency Zika Funding</p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="#" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row topMargin widget-Pos">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img width="100%" height="auto" class="img-responsive" alt="Responsive image"
                     src="https://i.kinja-img.com/gawker-media/image/upload/s--NrtfWD7a--/dw3l4m5ulgn6qqlhr7om.png"/>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="widget-image.html" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row topMargin widget-Pos">
            <div class="topNMargin col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="h6">In February, the <a
                        href="http://gizmodo.com/white-house-wants-1-8-billion-to-fight-zika-1757772335">White House
                    formally asked Congress for $1.8 billion</a> to help combat the Zika virus this summer. Now, the
                    Senate has worked out a bipartisan deal will allocate $1.1 billion in emergency funding.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="#" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row topMargin widget-Pos">
            <div class="topNMargin col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="h5" style="font-weight: bold">Man in Wingsuit Flies Straight Through a Ring of Fire</p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="#" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row topMargin widget-Pos">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <iframe width="100%" class="embed-item-responsive" src="//www.youtube.com/embed/uLWLashCXHE"></iframe>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="widget-youtube.html" class="navbar-link" allowfullscreen="allowfullscreen"
                           height="450">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="row topMargin widget-Pos">
            <div class="topNMargin col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="h6">Flying in a wingsuit? That’s just not enough anymore. Anyone could do that (I would never
                    do that). You have to make it more extreme, like by hitting a target while you’re cutting through
                    the air at crazy speeds.Or by making that target a small ring that you have to somehow fly
                    through.Or by lighting that ring on fire. Or by... actually, that should be extreme enough for now.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href="#" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text">
                    <a href="#" class="navbar-link rightMargin">
                        <span class="glyphicon glyphicon-play"/>
                    </a>
                    <a href="#" class="navbar-link">
                        <span class="glyphicon glyphicon-eye-open"/>
                    </a>
                </p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="profile.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
