<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <a class="navbar-brand topnav" href="#/home">
                <span class="appTitle">Movies</span>
            </a>
        </div>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".headerCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse headerCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.user!=null">
                    <a class="page-scroll" href="#/user">
                        <span class="headerLink">{{model.user.username}}</span>
                    </a>
                </li>
                <li ng-show="model.user!=null">
                    <a class="page-scroll" ng-click="model.logout()">
                        <span class="headerLink">Logout</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div ng-show="!model.error && profileForm.$submitted && profileForm.$invalid" class="alert alert-danger" role="alert">
    There are errors in the form!!
</div>

<div class="container">

    <div class="row">
        <div class="col-md-3 pull-left">
            <div class="thumbnail" id="imageTn">
                <img ng-if="model.user.url" ng-src="{{model.user.url}}" width="100%"/>
                <img ng-if="!model.user.url" src="client/images/UserImage.png" width="100%"/>
            </div>

            <div id="tabs">
                <ul class="nav nav-pills nav-justified pillPad">
                    <li class="active">
                        <a data-toggle="pill" data-target="#details">
                            User Details - Edit
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#followers">
                            Followers
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#following">
                            Following
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#movies">
                            Rated/Reviewed
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#watchlist">
                            Watchlist
                        </a>
                    </li>
                    <li>
                        <a ng-show="model.isAdmin" data-toggle="pill" data-target="#ManageUsers">
                            Manage Users
                        </a>
                    </li>
                </ul>


            </div>
        </div>

        <div class="col-md-9">
            <div class="tab-content ">

                <div id="details" class="tab-pane fade in active">
                    <h3 ng-if="model.user.firstName">{{model.user.firstName}}'s Profile</h3>
                    <div ng-if="model.success" class="alert alert-success" role="alert">
                        {{model.success}}
                    </div>
                    <div ng-if="model.error" class="alert alert-danger" role="alert">
                        {{model.error}}
                    </div>
                    <form name="profileForm" novalidate
                          ng-submit="profileForm.$valid && model.login(model.username,model.password)">
                        <label for="username">Username
                            <input autocorrect="off" autocapitalize="off"
                                   ng-model="model.user.username"
                                   required
                                   type="text"
                                   class="form-control"
                                   placeholder="janedoe"
                                   name="username"
                                   id="username"/>
                            <div ng-show="profileForm.$submitted && loginForm.username.$invalid"
                                 class="formFieldErrorMsg">
                                Username is a required field
                            </div>
                        </label>
                        <label for="emailID">Email
                            <input ng-model="model.user.email"
                                   type="email"
                                   class="form-control"
                                   placeholder="janedoe@gmail.com"
                                   id="emailID"/>
                        </label>
                        <label for="first-name">First Name
                            <input ng-model="model.user.firstName"
                                   type="text"
                                   class="form-control"
                                   placeholder="Jane"
                                   id="first-name"/>
                        </label>
                        <label for="last-name">Last Name
                            <input ng-model="model.user.lastName"
                                   type="text"
                                   class="form-control"
                                   placeholder="Doe"
                                   id="last-name"/>
                        </label>
                        <label for="dob">Date Of Birth
                            <input ng-model="model.user.dob"
                                   type="date"
                                   class="form-control"
                                   placeholder="mm/dd/yyyy"
                                   id="dob"/>
                        </label>
                    </form>
                    <form action="/api/uploads" method="post" enctype="multipart/form-data">
                        <label for="upload">Upload</label>
                        <input name="myFile" type="file" class="form-control" id="upload"/>
                        <input name="userId" value="{{model.user._id}}" style="display: none"/>
                        <input name="name" value="{{model.username}}" style="display: none"/>
                        <button type="submit" class="btn btn-block btn-primary upload-button">Upload Image</button>
                        <a ng-click="model.updateUser(model.user)"
                           class="btn btn-success btn-block">Update Profile</a>
                        <a ng-click="model.unregister()"
                           class="btn btn-danger btn-block">Unregister</a>
                    </form>
                </div>

                <div id="followers" class="tab-pane fade">

                    <div ng-show="model.user.followers.length === 0" class="alert alert-danger" role="alert">
                        <span>Currently you have no followers</span>
                    </div>
                    <div ng-show="model.user.followers.length > 0" class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="follower in model.user.followers">
                                <div class="panel panel-default">
                                    <div class="panel-body followersPanel">
                                        <a ng-click="model.getUserProfile(follower.userId)">
                                            <h4>{{follower.username}}</h4>
                                        </a>
                                        <a ng-if="model.isFollowing(follower.userId)"
                                           ng-click="model.unfollowUser(follower.userId)"
                                           class="btn btn-sm btn-danger pull-right">Unfollow {{follower.username}}</a>
                                        <a ng-if="!model.isFollowing(follower.userId)"
                                           ng-click="model.followUser(follower.userId, follower.username)"
                                           class="btn btn-sm btn-success pull-right">Follow {{follower.username}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="following" class="tab-pane fade">
                    <div ng-show="model.user.following.length === 0" class="alert alert-danger" role="alert">
                        <span>Currently you are not following anyone</span>
                    </div>
                    <div ng-show="model.user.followers.length > 0" class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="following in model.user.following">
                                <div class="panel panel-default">
                                    <div class="panel-body followersPanel">
                                        <a ng-click="model.getUserProfile(following.userId)">
                                            <h4>{{following.username}}</h4>
                                        </a>
                                        <a ng-if="model.isFollowing(following.userId)"
                                           ng-click="model.unfollowUser(following.userId)"
                                           class="btn btn-sm btn-danger pull-right">Unfollow {{following.username}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="movies" class="tab-pane fade">
                    <div ng-show ="model.user.moviesReviewed.length === 0" class="alert alert-danger" role="alert">
                        <span>No movies reviewed!!</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="movie in model.user.moviesReviewed">
                                <div class="panel panel-default">
                                    <div class="panel-body followersPanel">
                                        <a ng-click="model.getMovieInfo(movie.movieId)">
                                            <img ng-src="{{movie.moviePoster}}" width="10%">
                                        </a>
                                        <a ng-click="model.getMovieInfo(movie.movieId)">
                                                    <span class="glyphicon glyphicon-eye-open pull-right">
                                                        <b>{{movie.movieTitle}}</b>
                                                    </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="watchlist" class="tab-pane fade">
                    <div ng-show ="model.user.watchlist.length === 0" class="alert alert-danger" role="alert">
                        <span>No movies in watchlist!!</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="movie in model.user.watchlist">
                                <div class="panel panel-default">
                                    <div class="panel-body followersPanel">
                                        <a ng-click="model.getMovieInfo(movie.apiMovieId)">
                                            <img ng-src="{{movie.moviePoster}}" width="10%">
                                        </a>
                                        <a ng-click="model.getMovieInfo(movie.apiMovieId)">
                                            &nbsp;
                                                    <span class="glyphicon glyphicon-eye-open pull-right">
                                                        <b>{{movie.movieTitle}}</b>
                                                    </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="ManageUsers" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-repeat="user in model.userslist">
                                <div class="panel panel-default">
                                    <div class="panel-body followersPanel">
                                        <a href="#/user/{{user._id}}">
                                            <b>{{user.username}}</b>
                                        </a>
                                        <a href ng-click="model.deleteUser(user)"
                                           class="btn btn-danger pull-right">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-right">
                <a href="#/home">
                    <span class="glyphicon glyphicon-user" style="color: white"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
